In [107]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [108]:
df = pd.read_csv('./car_price.csv')
df

,Unnamed: 0,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,2017,1956 cc,5 Seats
1,1,Renault Duster RXZ Turbo CVT,12.83 Lakh,"13,248 kms",Petrol,Automatic,1st Owner,2021,1330 cc,5 Seats
2,2,Toyota Camry 2.5 G,16.40 Lakh,"60,343 kms",Petrol,Automatic,1st Owner,2016,2494 cc,5 Seats
3,3,Honda Jazz VX CVT,7.77 Lakh,"26,696 kms",Petrol,Automatic,1st Owner,2018,1199 cc,5 Seats
4,4,Volkswagen Polo 1.2 MPI Highline,5.15 Lakh,"69,414 kms",Petrol,Manual,1st Owner,2016,1199 cc,5 Seats
...,...,...,...,...,...,...,...,...,...,...
5507,5507,BMW X1 sDrive 20d xLine,28.90 Lakh,"45,000 kms",Diesel,Automatic,1st Owner,2018,2995 cc,7 Seats
5508,5508,BMW M Series M4 Coupe,64.90 Lakh,"29,000 kms",Petrol,Automatic,2nd Owner,2015,1968 cc,5 Seats
5509,5509,Jaguar XF 2.2 Litre Luxury,13.75 Lakh,"90,000 kms",Diesel,Automatic,2nd Owner,2013,2755 cc,5 Seats
5510,5510,BMW 7 Series 730Ld,29.90 Lakh,"79,000 kms",Diesel,Automatic,3rd Owner,2015,2967 cc,6 Seats
5511,5511,BMW 5 Series 520d M Sport,31.90 Lakh,"42,000 kms",Diesel,Automatic,2nd Owner,2017,1991 cc,5 Seats

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           5512 non-null   int64
 1   car_name             5512 non-null   object
 2   car_prices_in_rupee  5512 non-null   object
 3   kms_driven           5512 non-null   object
 4   fuel_type            5512 non-null   object
 5   transmission         5512 non-null   object
 6   ownership            5512 non-null   object
 7   manufacture          5512 non-null   int64
 8   engine               5512 non-null   object
 9   Seats                5512 non-null   object
dtypes: int64(2), object(8)
memory usage: 430.8+ KB

In [110]:
columns = ['car_prices_in_rupee','kms_driven','fuel_type','transmission','ownership','manufacture','engine','Seats']
df = df[columns]
df

,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,2017,1956 cc,5 Seats
1,12.83 Lakh,"13,248 kms",Petrol,Automatic,1st Owner,2021,1330 cc,5 Seats
2,16.40 Lakh,"60,343 kms",Petrol,Automatic,1st Owner,2016,2494 cc,5 Seats
3,7.77 Lakh,"26,696 kms",Petrol,Automatic,1st Owner,2018,1199 cc,5 Seats
4,5.15 Lakh,"69,414 kms",Petrol,Manual,1st Owner,2016,1199 cc,5 Seats
...,...,...,...,...,...,...,...,...
5507,28.90 Lakh,"45,000 kms",Diesel,Automatic,1st Owner,2018,2995 cc,7 Seats
5508,64.90 Lakh,"29,000 kms",Petrol,Automatic,2nd Owner,2015,1968 cc,5 Seats
5509,13.75 Lakh,"90,000 kms",Diesel,Automatic,2nd Owner,2013,2755 cc,5 Seats
5510,29.90 Lakh,"79,000 kms",Diesel,Automatic,3rd Owner,2015,2967 cc,6 Seats
5511,31.90 Lakh,"42,000 kms",Diesel,Automatic,2nd Owner,2017,1991 cc,5 Seats

In [111]:
df['kms_driven'] = df['kms_driven'].str.split().str[0].str.replace(',','').astype(int)
df['kms_driven']

C:\Users\Ashwin V Kumar\AppData\Local\Temp\ipykernel_4184\2203655894.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['kms_driven'] = df['kms_driven'].str.split().str[0].str.replace(',','').astype(int)

0       86226
1       13248
2       60343
3       26696
4       69414
        ...
5507    45000
5508    29000
5509    90000
5510    79000
5511    42000
Name: kms_driven, Length: 5512, dtype: int64

In [112]:
df['fuel_type'].unique()

array(['Diesel', 'Petrol', 'Cng', 'Electric', 'Lpg'], dtype=object)

In [113]:
label_encoder = LabelEncoder()
df['fuel_type']= label_encoder.fit_transform(df['fuel_type'])
df['fuel_type']

C:\Users\Ashwin V Kumar\AppData\Local\Temp\ipykernel_4184\1703608708.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fuel_type']= label_encoder.fit_transform(df['fuel_type'])

0       1
1       4
2       4
3       4
4       4
       ..
5507    1
5508    4
5509    1
5510    1
5511    1
Name: fuel_type, Length: 5512, dtype: int64

In [114]:
df['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [115]:
df['transmission']= label_encoder.fit_transform(df['transmission'])
df['transmission']

C:\Users\Ashwin V Kumar\AppData\Local\Temp\ipykernel_4184\1015814657.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['transmission']= label_encoder.fit_transform(df['transmission'])

0       1
1       0
2       0
3       0
4       1
       ..
5507    0
5508    0
5509    0
5510    0
5511    0
Name: transmission, Length: 5512, dtype: int64

In [116]:
df['ownership'].unique()

array(['1st Owner', '2nd Owner', '3rd Owner', '4th Owner', '5th Owner',
       '0th Owner'], dtype=object)

In [117]:
# ownership = df['ownership'].str.split().str[0].str[0].astype(int)
# ownership
df['ownership'] = df['ownership'].str.split().str[0].str[0].astype(int)
df['ownership']

C:\Users\Ashwin V Kumar\AppData\Local\Temp\ipykernel_4184\1063416769.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ownership'] = df['ownership'].str.split().str[0].str[0].astype(int)

0       1
1       1
2       1
3       1
4       1
       ..
5507    1
5508    2
5509    2
5510    3
5511    2
Name: ownership, Length: 5512, dtype: int64

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   car_prices_in_rupee  5512 non-null   object
 1   kms_driven           5512 non-null   int64
 2   fuel_type            5512 non-null   int64
 3   transmission         5512 non-null   int64
 4   ownership            5512 non-null   int64
 5   manufacture          5512 non-null   int64
 6   engine               5512 non-null   object
 7   Seats                5512 non-null   object
dtypes: int64(5), object(3)
memory usage: 344.6+ KB

In [119]:
df['engine'] = df['engine'].str.split().str[0].astype(int)
df['engine']

C:\Users\Ashwin V Kumar\AppData\Local\Temp\ipykernel_4184\3953416024.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['engine'] = df['engine'].str.split().str[0].astype(int)

0       1956
1       1330
2       2494
3       1199
4       1199
        ...
5507    2995
5508    1968
5509    2755
5510    2967
5511    1991
Name: engine, Length: 5512, dtype: int64

In [120]:
df

,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,10.03 Lakh,86226,1,1,1,2017,1956,5 Seats
1,12.83 Lakh,13248,4,0,1,2021,1330,5 Seats
2,16.40 Lakh,60343,4,0,1,2016,2494,5 Seats
3,7.77 Lakh,26696,4,0,1,2018,1199,5 Seats
4,5.15 Lakh,69414,4,1,1,2016,1199,5 Seats
...,...,...,...,...,...,...,...,...
5507,28.90 Lakh,45000,1,0,1,2018,2995,7 Seats
5508,64.90 Lakh,29000,4,0,2,2015,1968,5 Seats
5509,13.75 Lakh,90000,1,0,2,2013,2755,5 Seats
5510,29.90 Lakh,79000,1,0,3,2015,2967,6 Seats
5511,31.90 Lakh,42000,1,0,2,2017,1991,5 Seats

In [121]:
df['Seats'].unique()

array(['5 Seats', '6 Seats', '7 Seats', '4 Seats', '8 Seats', '2 Seats'],
      dtype=object)

In [122]:
df['Seats'] = df['Seats'].str.split().str[0].astype(int)
df['Seats']

C:\Users\Ashwin V Kumar\AppData\Local\Temp\ipykernel_4184\3670951091.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Seats'] = df['Seats'].str.split().str[0].astype(int)

0       5
1       5
2       5
3       5
4       5
       ..
5507    7
5508    5
5509    5
5510    6
5511    5
Name: Seats, Length: 5512, dtype: int64

In [123]:
df

,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,10.03 Lakh,86226,1,1,1,2017,1956,5
1,12.83 Lakh,13248,4,0,1,2021,1330,5
2,16.40 Lakh,60343,4,0,1,2016,2494,5
3,7.77 Lakh,26696,4,0,1,2018,1199,5
4,5.15 Lakh,69414,4,1,1,2016,1199,5
...,...,...,...,...,...,...,...,...
5507,28.90 Lakh,45000,1,0,1,2018,2995,7
5508,64.90 Lakh,29000,4,0,2,2015,1968,5
5509,13.75 Lakh,90000,1,0,2,2013,2755,5
5510,29.90 Lakh,79000,1,0,3,2015,2967,6
5511,31.90 Lakh,42000,1,0,2,2017,1991,5

In [124]:
df['car_prices_in_rupee'] = df['car_prices_in_rupee'].str.split().str[0].str.replace(',','').astype(float)
df['car_prices_in_rupee']

C:\Users\Ashwin V Kumar\AppData\Local\Temp\ipykernel_4184\3091738808.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['car_prices_in_rupee'] = df['car_prices_in_rupee'].str.split().str[0].str.replace(',','').astype(float)

0       10.03
1       12.83
2       16.40
3        7.77
4        5.15
        ...
5507    28.90
5508    64.90
5509    13.75
5510    29.90
5511    31.90
Name: car_prices_in_rupee, Length: 5512, dtype: float64

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   car_prices_in_rupee  5512 non-null   float64
 1   kms_driven           5512 non-null   int64
 2   fuel_type            5512 non-null   int64
 3   transmission         5512 non-null   int64
 4   ownership            5512 non-null   int64
 5   manufacture          5512 non-null   int64
 6   engine               5512 non-null   int64
 7   Seats                5512 non-null   int64
dtypes: float64(1), int64(7)
memory usage: 344.6 KB

In [126]:
x = df[['kms_driven','fuel_type','transmission','ownership','manufacture','engine','Seats']]
x

,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
0,86226,1,1,1,2017,1956,5
1,13248,4,0,1,2021,1330,5
2,60343,4,0,1,2016,2494,5
3,26696,4,0,1,2018,1199,5
4,69414,4,1,1,2016,1199,5
...,...,...,...,...,...,...,...
5507,45000,1,0,1,2018,2995,7
5508,29000,4,0,2,2015,1968,5
5509,90000,1,0,2,2013,2755,5
5510,79000,1,0,3,2015,2967,6
5511,42000,1,0,2,2017,1991,5

In [127]:
y = df[['car_prices_in_rupee']]
y

      car_prices_in_rupee
0                   10.03
1                   12.83
2                   16.40
3                    7.77
4                    5.15
...                   ...
5507                28.90
5508                64.90
5509                13.75
5510                29.90
5511                31.90

[5512 rows x 1 columns]

In [128]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [129]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [130]:
prediction = lr.predict(x_test)
prediction

array([[-1894.16228604],
       [  668.52261597],
       [ 5213.35279447],
       ...,
       [  445.58301519],
       [ 1389.18386474],
       [-2931.11102891]])

In [131]:
print('Mean Absolute Error',mean_absolute_error(y_test,prediction))
print('Mean Squared Error',mean_squared_error(y_test,prediction))
print('R2 Score',r2_score(y_test,prediction))

Mean Absolute Error 4253.815488132261
Mean Squared Error 104469091.34846336
R2 Score 0.09278946378195929